body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-alfa-slab-one: "Alfa Slab One";
    --font-allan: Allan;
  
    /* Colors */
    --black: #000;
  }